#enroll-authority{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.upload-p-text{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 60px;
}
#pro-text p{
    width: 96px;
    height: 19px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}